<div class="wrapper">
  <div class="container text-center">
    <h3> A bit about myself </h3>
    <div class="about-content-pic">
      <img class="profile-avatar" src="/images/profile_image.jpg" alt="Morty's pic">
      <p> *not actual picture</p>
    </div>
    <div class="about-content">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="about-content-bio">
            <h4>20 sec. Bio</h4>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque praesentium accusantium nobis nostrum hic vitae suscipit, officiis temporibus! Minus odio recusandae iusto sequi, nesciunt est perspiciatis cupiditate iste sit itaque?</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="about-content-trivia">
            <h4>Trivia</h4>
            <br>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
