
<div class="wrapper dark">
  <div class="container">
    <div class="call-to-action">
      <div class="cta-text">
        <h3> Let's Talk </h3>
        <hr>
        <p> I love bouncing off ideas. We could also talk about why your cat refuses to follow basic commands.</p>
      </div>
        <a class="btn-cta text-center" href="#">
          <h3> Get in touch</h3>
          <i class="fa fa-envelope-o"></i>
       </a>
    </div>
  </div>
</div>
</div>
