
<!-- <div class="wrapper dark">
  <div class="container">
    <div class="call-to-action">
      <div class="cta-text">
        <h3> Let's Talk </h3>
        <hr>
        <p> I love bouncing off ideas. We could also talk about why your cat refuses to follow basic commands.</p>
      </div>
      <a class="btn-cta text-center" href="#">
        <h3> Get in touch</h3>
        <i class="fa fa-envelope-o"></i>
      </a>
    </div>
  </div>
</div>
</div> -->

<div class="wrapper dark-bg padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
        <div class="cta-text">
          <h3 id="contact"> Let's Talk ! </h3>
          <hr>
          <p> I love bouncing off ideas. I am also open to talk about anything that is absurd and witty.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">



          <a class="btn btn-cta text-center" href="mailto:miguel.leo.jimenez@gmail.com">
            <h3> Get in touch</h3>
            <i class="fa fa-envelope-o"></i>
          </a>

      </div>
    </div>
  </div>
</div>
