<div class="container main-container text-center hidden-xs">

  <h3>What people say about me</h3>
  <p class='spaced'> (and what I'd love fictional characters to say) </p>
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <!-- First slide -->
      <div class="item active">
        <div class="carousel-caption">
          <div class="carousel-info">
            <div class="caption-part1">
              <div class="caption-client">
                <img class='caption-client-avatar' src="images/yang.jpg" alt="Insert Rick's face">
                <div class="caption-client-details">
                  <h6> Yang Zhang </h6>
                  <p> Executive Coach </p>
                </div>
              </div>
              <blockquote class="caption-referral"> Miguel is one of the most entrepreneurial and hard-working individuals I know. Never satisfied with status quo and incredibly eager to learn, he challenges himself to constantly enter new territories.
              </blockquote>

            </div>
            <div class="caption-part2">
              <div class="caption-bottom"> </div>
            </div>
          </div>
        </div>
      </div> <!-- /.item -->

      <!-- Second slide -->
      <div class="item">
       <div class="carousel-caption">
          <div class="carousel-info">
            <div class="caption-part1">
              <div class="caption-client">
                <img class='caption-client-avatar' src="images/rick_profile.jpg" alt="Insert Rick's face">
                <div class="caption-client-details">
                  <h6> Rick Sanchez </h6>
                  <p> Freelance Scientist </p>
                </div>
              </div>
              <blockquote class="caption-referral"> He does not really get time travel or multiverse theory, but he is fun to have around. A better choice than Jerry for almost any task. </blockquote>

            </div>
            <div class="caption-part2">
              <div class="caption-bottom"> </div>
            </div>
          </div>
        </div>
      </div><!-- /.item -->

      <!-- third Slide -->

      <div class="item">
       <div class="carousel-caption">
          <div class="carousel-info">
            <div class="caption-part1">
              <div class="caption-client">
                <img class='caption-client-avatar' src="images/anna.jpg" alt="Insert Rick's face">
                <div class="caption-client-details">
                  <h6> Anna Ruemenapf </h6>
                  <p> Senior Consultant </p>
                </div>
              </div>
              <blockquote class="caption-referral">  He has always impressed me with his ability to quickly connect the dots, think on his feet and make things happen. Miguel's resilience and a can-do attitude has made him very effective at what he does.  </blockquote>

            </div>
            <div class="caption-part2">
              <div class="caption-bottom"> </div>
            </div>
          </div>
        </div>
      </div><!-- /.item -->

  <!-- fourth Slide -->

      <div class="item">
       <div class="carousel-caption">
          <div class="carousel-info">
            <div class="caption-part1">
              <div class="caption-client">
                <img class='caption-client-avatar' src="images/bender_profile.jpg" alt="Insert Rick's face">
                <div class="caption-client-details">
                  <h6> Bender D. Rodriguez </h6>
                  <p> Delivery Specialist </p>
                </div>
              </div>
              <blockquote class="caption-referral"> I got Miguel into AI when I shared with him my world domination aspirations. Ever since we have been inseparable buddies. </blockquote>

            </div>
            <div class="caption-part2">
              <div class="caption-bottom"> </div>
            </div>
          </div>
        </div>
      </div><!-- /.item -->

  <!-- fifth Slide -->

      <div class="item">
       <div class="carousel-caption">
          <div class="carousel-info">
            <div class="caption-part1">
              <div class="caption-client">
                <img class='caption-client-avatar' src="images/john.jpg" alt="Insert Rick's face">
                <div class="caption-client-details">
                  <h6> John Parkinson </h6>
                  <p> Co-Founder at Fugu <br> Leadership Mastery </p>
                </div>
              </div>
              <blockquote class="caption-referral"> Miguel has always impressed me greatly with his work ethic and commitment to exceptional quality for clients. He will always go the extra mile and ensure that the work is completed to the highest possible standards. </blockquote>

            </div>
            <div class="caption-part2">
              <div class="caption-bottom"> </div>
            </div>
          </div>
        </div>
      </div><!-- /.item -->


    </div><!-- /.carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->

</div><!-- /.container -->
