<div class="wrapper bg-lightwhite">
  <div class="container container-clients text-center">
    <h4> Grateful to have partnered with </h4>
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-sm-offset-3">
        <img class="svg-logo" src="images/roche-logo.svg" alt="roche_logo">
      </div>
      <div class="col-xs-4 col-sm-2 col-sm-offset">
        <img class="svg-logo-united" src="images/united-healthcare-logo1.svg" alt="roche_logo">
      </div>
      <div class="col-xs-4 col-sm-2 col-sm-offset">
        <img class="svg-logo-sanofi" src="images/sanofi_logo.svg" alt="roche_logo">
      </div>
    </div>
    <div class='row'>
      <div class="col-xs-4 col-sm-2 col-sm-offset-3">
      <img class="svg-logo" src="images/thyssen-logo.svg" alt="roche_logo">
      </div>
      <div class="col-xs-4 col-sm-2 col-sm-offset">
        <img class="svg-logo-danone" src="images/danone-logo.svg" alt="roche_logo">
      </div>
      <div class="col-xs-4 col-sm-2 col-sm-offset">
        <img class="svg-logo" src="images/google-logo.svg" alt="google_logo">
      </div>
    </div>

  </div>

</div>
