
<div class="wrapper bg-lightwhite">
  <div class="container">
    <div class="section-header text-center">
      <h3 id='expertise'> What I do </h3>
    </div>

    <div class="wrapper">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <!-- Insert Organizational Learning Below -->
            <!-- Organizational Learning Card -->
            <div class="card pink-shadow">
             <img class="card-logo" src="../images/knowledge-transfer.svg" alt="">
             <div class="card-description">
               <h2> Organizational <br> Learning </h2>
               <p class="card-tagline"> 6+ years of global experience applying behavioral science, building kick-ass teams and developing executives. </p>
             </div>
             <div class="card-bottom bottom-pink">

             </div>
             <a class="card-link" href="#" ></a>
           </div>


         </div>
         <div class="col-xs-12 col-sm-5">
           <!-- Insert Workshop Facilitation Card Below -->
           <!-- Workshop Facilitation Card -->
           <div class="card blue-shadow">
            <img src="../images/brainstorm.svg" alt="" class="card-logo">
            <div class="card-description">
             <h2> Workshop <br> Facilitation </h2>
             <p class="card-tagline"> The revolution will not be presented in PowerPoint. I run dynamic sessions to help groups solve problems and adapt to change. </p>
           </div>
           <div class="card-bottom bottom-blue">

           </div>
           <a class="card-link" href="#" ></a>
         </div>
       </div>

     </div>

     <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <!-- Insert Business Model Generation Card Below -->
        <!-- Business Model Generation Card -->
        <div class="card dark-shadow">
          <img src="../images/profits.svg" alt="" class="card-logo">
          <div class="card-description">
           <h2> Business Model <br> Generation </h2>
           <p class="card-tagline"> Innovation = bold thinking + learning fast. Let's create something feasible, viable and that your
           customers want. </p>
         </div>
         <div class="card-bottom bottom-dark">

         </div>
         <a class="card-link" href="#" ></a>
       </div>

     </div>
     <div class="col-xs-12 col-sm-5">
      <!-- Insert Fullstack Development Card -->
      <!-- Fullstack Card -->
      <div class="card turq-shadow">
        <img src="../images/coding.svg" alt="" class="card-logo">
        <div class="card-description">
         <h2>Full Stack <br> Development </h2>
         <p class="card-tagline"> I like building web-based applications. I also teach programming basics to aspiring entrepreneurs at Le Wagon coding bootcamp.   </p>
       </div>
       <div class="card-bottom bottom-turq">

       </div>
       <a class="card-link" href="#" ></a>
     </div>

   </div>
 </div>
</div>
</div>
</div>
</div>
