
<div class="wrapper">
  <div class="container">
    <div class="section-header text-center">
      <hr>
      <h3> Expertise </h3>
    </div>

    <div class="breather" style="height: 100vh">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4" col>
             <div class="card">
               <img class="card-logo" src="http://www.freepngimg.com/download/batman/3-2-batman-logo-png.png" alt="logo space">
               <div class="card-description">
                 <h2>Full Stack Developer</h2>
                 <p>I love building new things. Coders will inherit the world as we know it.</p>
               </div>
               <div class="card-bottom">

               </div>
               <a class="card-link" href="#" ></a>
             </div>
            </div>
            </div>
          </div>
        </div>
      </div>
