
<div class="wrapper">
  <div class="container">
    <div class="section-header text-center">
      <hr>
      <h3> What I do well </h3>
    </div>

    <div class="wrapper">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
           <div class="card turq-shadow">
            <img src="../images/coding.svg" alt="" class="card-logo">
            <div class="card-description">
             <h2>Full Stack Development </h2>
             <p> Coding is the new holy grail. <br> Let's hack the way through.</p>
           </div>
           <div class="card-bottom bottom-turq">

           </div>
           <a class="card-link" href="#" ></a>
         </div>
       </div>
       <div class="col-xs-12 col-sm-5">

         <div class="card blue-shadow">
          <img src="../images/brainstorm.svg" alt="" class="card-logo">
          <div class="card-description">
           <h2> Workshop <br> Facilitation </h2>
           <p> The revolution will not be presented in PowerPoint. </p>
         </div>
         <div class="card-bottom bottom-blue">

         </div>
         <a class="card-link" href="#" ></a>
       </div>
     </div>



   </div>

   <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
     <div class="card pink-shadow">
     <img class="card-logo" src="../images/knowledge-transfer.svg" alt="">
      <div class="card-description">
       <h2> Organizational Learning </h2>
       <p> Applied behavioral science to build <br> kick-ass teams. </p>
     </div>
     <div class="card-bottom bottom-pink">

     </div>
     <a class="card-link" href="#" ></a>
   </div>
 </div>
 <div class="col-xs-12 col-sm-5">

   <div class="card dark-shadow">
    <img src="../images/profits.svg" alt="" class="card-logo">
    <div class="card-description">
     <h2> Growth <br> & Scaling Up </h2>
     <p> Ok your business model works. <br> Where do we go from here?  </p>
   </div>
   <div class="card-bottom bottom-dark">

   </div>
   <a class="card-link" href="#" ></a>
 </div>
</div>



</div>
</div>
</div>
</div>
</div>
