<div class="footer">

  <div class='footer-message'>

    <p> Miguel Jimenez <span> <strong>| </strong> </span> Coded and designed with love from
      <img class="footer-flag" src="images/andalucia_flag.gif" alt="andalucia">
      Andalucia and
      <img class="footer-flag" src="images/bavaria_flag.gif" alt="Bavaria"> Bavaria </p>
    </div>

</div>
