
<div class="navbar">
  <div class="navbar-name">
    <ul class="list-inline">
      <li> <h3> Miguel Jimenez </h3> </li>
      <li> <p> Algeciras (Cadiz) / Munich (Germany) </p> </li>
    </ul>
  </div>
  <div class="social-media">

   <ul class="list-inline social hidden-xs hidden-sm hidden-md">
     <li> <a href="https://www.linkedin.com/in/miguel-leo-jimenez">
      <i class="fa fa-linkedin"> </i>
    </a>
  </li>
  <li>
    <a href="https://github.com/libsyz">
      <i class="fa fa-github"> </i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/FBahali">
      <i class="fa fa-twitter"> </i>
    </a>
  </li>
</ul >

</div>
<div class="navbar-hamburger dropdown hidden-lg">
  <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
  <ul class="dropdown-menu dropdown-menu-right navbar-hamburger-reveal">
    <li>
      <a href="https://www.linkedin.com/in/miguel-leo-jimenez">
        <i class="fa fa-linkedin"> </i> LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/libsyz">
        <i class="fa fa-github"> </i> Github
      </a>
    </li>
    <li>
      <a href="https://twitter.com/FBahali">
        <i class="fa fa-twitter"> </i>Twitter
      </a>
    </li>
  </ul>
</div>
</div>
