

.sections {
  padding-bottom: 25px;
  font-family: 'Montserrat';
  color: black;
}

.sections > a {
  text-decoration: none;
  color: grey;
  padding-bottom: 5px;
  margin-bottom: 5px;
  &:hover{
    color: black;
    padding-bottom: 2px;
    border-bottom: solid 3px black;
  }
}


ul.titles {
  overflow: hidden;
  color: #78ffee;
  list-style: none;
  white-space: nowrap;
  animation: fadeIn 1s ease-out 1 .6s;
  animation-fill-mode: forwards;
  pointer-events: none;
  position: relative;
  height: 40vh;
  opacity: 0;
  font-size: 6em;
  font-family: 'Muli';
  text-align: center;
  margin-bottom: 0px;
  padding-left: 0px;
}





ul.titles li {
  padding-left: 0px;
  position: absolute;
  opacity: 0;
  width: 100%;
  animation: rotateWord 8s cubic-bezier(1, 0, 0, 1) infinite 0s;
  animation-fill-mode: backwards;
  top: 10vh;
}



ul.titles li:nth-child(2) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  color: #43DDE6
}

ul.titles li:nth-child(3) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
  color: #364F6B;
}

ul.titles li:nth-child(4) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #FC5185;
}



.value-proposition-lg {
  list-style: none;
  position: relative;
  margin: 0 auto;
  text-align: justify;
  height: 22vh;
  margin-bottom: 13vh;
  opacity: 0;
  animation: fadeIn 1s ease-out 1 .6s;
  animation-fill-mode: forwards;
}

.value-proposition-lg > li > p {
  position: absolute;
  font-size: 16px;
  line-height: 30px;
  padding: 15px;
  text-align: center;
  opacity: 1;
  width: 90%;
  left: 2vw;
  top: 5px;
}

ul.value-proposition-lg {
  padding-left: 0px;
  width: 60%;
}


.value-proposition-xs {
  list-style: none;
  position: relative;
  margin: 0 auto;
  text-align: justify;
  margin-top: 8vh;
  height: 22vh;
  margin-bottom: 5vh;
  opacity: 0;
  animation: fadeIn 1s ease-out 1 .6s;
  animation-fill-mode: forwards;
}

.value-proposition-xs > li > p {
  position: absolute;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  opacity: 1;
  width: 90%;
  left: 2vw;
  top: 30px;
}

ul.value-proposition-xs {
  padding-left: 0px;
  width: 90%;
}


@media only screen and (max-width: 1200px) {
  .value-proposition-lg {
    margin: 0 auto;
    height: 30vh;
    margin-bottom: 5vh;
  }

}



@media only screen and (max-width: 500px) {
  ul.titles {
    font-size: 5em;
    white-space: normal;
  }
    .sections {
    padding-bottom: 0px;
  }
}


.value-turq {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-left-color: #78ffee;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 3px;
  animation: borderTurq 8s cubic-bezier(1, 0, 0, 1) infinite 0s;
  animation-fill-mode: forwards;
}


.value-blue {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #43DDE6;
  border-bottom-color: transparent;
  border-radius: 3px;
  animation: borderBlue 8s cubic-bezier(1, 0, 0, 1) infinite 0s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.value-dark {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: #364F6B;
  border-radius: 3px;
  animation: borderDark 8s cubic-bezier(1, 0, 0, 1) infinite 0s;
  animation-delay: 4s;
}

.value-pink {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #FC5185;
  border-style: solid;
  border-width: 5px;
  border-radius: 3px;
  animation: borderPink 8s cubic-bezier(1, 0, 0, 1) infinite 0s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.section-header {
  margin-bottom: 45px;
}


@keyframes rotateWord {
  0%,
  100%,
  80% {
    opacity: 0;
  }
  4% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  27%,
  7% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  32% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



// @keyframes fadeInDown {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateY(-30px);
//     transform: translateY(-30px)
//   }
//   100% {
//     opacity: 1;
//   }
// }




@keyframes borderTurq {

  0% {
    opacity: 0;
    transform-origin: bottom left;
  }
  4% {
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom left;

  }
  7% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: bottom left;
  }
  27% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: top left;
  }
  32% {
    // -webkit-transform: translateY(30px);
    opacity: 1;
    transform: scale(0);
    transform-origin: top left;
  }
  80% {
    opacity: 1;
    transform: scale(0);
    transform-origin: top left;
  }

  100% {
    opacity: 1;
    transform: scale(0);
    transform-origin: top left;
  }
}


@keyframes borderBlue {

 0% {
  opacity: 0;
  transform: scale(0);
  transform-origin: top left;
}
4% {
  opacity: 1;
  transform: scale(0);
  transform-origin: top left;

}
7% {
  opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: top left;
  }
  27% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: top right;
  }
  32% {
    // -webkit-transform: translateY(30px);
    opacity: 1;
    transform: scale(0);
    transform-origin: top right;
  }
  80% {
    opacity: 1;
    transform: scale(0);
    transform-origin: top right;
  }

  100% {
    opacity: 1;
    transform: scale(0);
    transform-origin: top right;
  }
}

@keyframes borderDark {

  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
  }
  4% {
    opacity: 1;
    transform: scale(0);
    transform-origin: top right;

  }
  7% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: top right;
  }
  27% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: bottom right;
  }
  32% {
    // -webkit-transform: translateY(30px);
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom right;
  }
  80% {
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom right;
  }

  100% {
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom right;
  }
}

@keyframes borderPink {


  0% {
    opacity: 0;
    transform: scale(0);

    transform-origin: bottom right;
  }
  4% {
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom right;

  }
  7% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: bottom right;
  }
  27% {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: scale(1);
    transform-origin: bottom left;
  }
  32% {
    // -webkit-transform: translateY(30px);
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom left;
  }
  80% {
    opacity: 1;
    transform: scale(0);
    transform-origin: bottom left;
  }

  100% {
    opacity: 1;
    transform: scale(0);
    transform-origin: top left;
  }

}
