
// Overarching wrapper properties

.wrapper > .container.text-center > #about {
  height: 40px;
  background: none;
}

.about-content {
  height: 240px;
}

.about-content-pic,
.about-content-bio,
.about-content-trivia {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

// Profile pic properties

.about-content-pic {
  text-align: center;
  margin-bottom: 0px;
    .profile-avatar {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    }
    p {
      padding-top: 3px;
      color: #949494;
    }
}

// Content Bio properties


.about-content-bio {
  text-align: center;
  padding-right: 25px;
  p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
}

// Content trivia classes

.about-content-trivia {
  text-align: center;
  li {
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
  padding-right: 25px ;
  margin-bottom: 10px;
  }
}

.underline {
  border-bottom: 3px solid;
  margin-top: 3px;
  font-size: 17px;
  font-weight: bold;
}

.border-turq {
  border-bottom-color: $turq;
}

.border-pink {
  border-bottom-color: $pink;
}


.border-green {
  border-bottom-color: $green;
}

.border-dark {
 border-bottom-color: $dark
}

