
.dark {
  background-color: $dark;
}

// .call-to-action {
//   display: flex;
//   justify-content: space-around;
//   height: 285px;
//   width: 60%;
//   margin: 0 auto;
//   padding-top: 75px;
// }

.padded {
  padding-top: 50px;
  padding-bottom: 20px;
}

.cta-text {
  width: 100%;
  text-align: center;
  color: white;
  float: left;
}


a.btn-cta {
  text-decoration: none;
}

.btn-cta {
  width: 80%;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  margin-bottom: 95px;
  margin-top: 20px;
  padding-bottom: 16px;
  padding-top: 22px;
  transition: 0.3s ease;
  &:hover {
    background-color: white;
    color: $dark;
  }
  &:focus {
    color: white;
  }

}

.btn-cta > h3 {
  margin-top: 0px;
  margin-bottom: 5px;

}

.fa {
  font-size: 20px;
}



