.container-clients {
  background-color: $bg-lightwhite;
  h4 {
    padding-top: 20px;
  }
}

.svg-logo {
    fill: #BABCBE;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.svg-logo-united {
    fill: #BABCBE;
    height: 100px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.svg-logo-danone {
    fill: #BABCBE;
    height: 100px;
    width: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.svg-logo-sanofi {
    fill: #BABCBE;
    height: 100px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
