.container-clients {
  background-color: $bg-lightwhite;
  h4 {
    padding-top: 20px;
  }
}



.svg-logo {
    fill: #BABCBE;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
