.main-container {
  padding: 10px 15px;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  bottom: 30px;
}
.carousel .item {
  height: 310px;
}

.carousel-caption {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  height: 200px;
  margin-bottom: 80px;
}

.caption-part1 {
  display: flex;
  height: 160px;
}

.carousel-info {
  height: 255px;
  background-color: white;
  color: black;
  text-shadow: none;
  border-radius: 4px;
}

.turq-box {
  box-shadow: 2px 2px 7px -1px $green;
}

.pink-box {
    box-shadow: 2px 2px 7px -1px $pink;

}

.dark-box {
    box-shadow: 2px 2px 7px -1px $dark;
}

.green-box {
  box-shadow: 2px 2px 7px -1px $green;
}

.caption-bottom {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 40px;
  width: 100%;
  margin-top: 55px;
}

.turq {
  background-color: $turq;
  opacity: 0.3;
}

.dark {
  background-color: $dark;
  opacity: 0.3;
}

.green {
  background-color: $green;
  opacity: 0.3;
}

.pink {
  background-color: $pink;
  opacity: 0.3;
}

.caption-client {
  display: inline-block;
  flex: 0 0 33%;
  padding-top: 50px;
  p {
    font-size: 12px;
  }
}


.caption-client-avatar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}



.caption-referral {
  flex: 0 0 66%;
  font-family: 'Montserrat';
  font-size: 14px;
  opacity: 0.7;
  height: 140px;
  padding-left: 30px;
  margin-top: 40px;
  line-height: 20px;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
}

// .caption-client {
//   display: flex;
// }

/* Animation delays */
// .carousel-caption h3:first-child {
//   animation-delay: 0.75s;
// }
// .carousel-caption h3:nth-child(2) {
//   animation-delay: 1.50s;
// }
// .carousel-caption button {
//   animation-delay: 2.25s;
// }


// h1 {
//   text-align: center;
//   margin-bottom: 30px;
//   font-size: 30px;
//   font-weight: bold;
// }

.spaced {
  margin-bottom: 30px;
  font-size: 16px;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}

.glyphicon {
  color: black;
}

@media only screen and (max-width: 991px) {
  .carousel-info {
    height: 280px;
  }

  .caption-bottom {
    margin-top: 80px;
  }

}
