// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #43DDE6;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$turq: #70D4C8;
$dark: #364F6B;
$pink: #FC5185;
$bg-lightwhite: #FCFCFC;
