
<div class="wrapper landing">
  <div class="container container-titles">
    <ul class="titles">
     <div class="nudge">
      <li> Versatile Nerd </li>
      <li> Side Hustler </li>
      <li> Curious Mind </li>
      <li> Tech Dilettante </li>
    </div>
    </ul>


<div class="container container-value hidden-xs">
    <ul class="value-proposition-lg" >
      <li><p> <%= data.landing[0].description %> </p></li>
      <li class='value-turq'>  </li>
      <li class='value-blue'>  </li>
      <li class='value-dark'>  </li>
      <li class='value-pink'>  </li>
    </ul>
</div>

<div class="container container-value hidden-lg hidden-sm hidden-md"">
    <ul class="value-proposition-xs">
      <li><p> <%= data.landing[0].description_xs %> </p></li>
      <li class='value-turq'>  </li>
      <li class='value-blue'>  </li>
      <li class='value-dark'>  </li>
      <li class='value-pink'>  </li>
    </ul>
</div>

    <div class="sections">
      <a href="#"> Miguel </a>
      <a href="#"> Expertise </a>
      <a href="#"> Trivia </a>
      <a href="#"> Contact </a>
    </div>

  </div>
</div>

