
<div class="wrapper landing">
  <div class="container">
    <ul class="titles">
     <div class="nudge">
      <li> Versatile Nerd </li>
      <li> Side Hustler </li>
      <li> Curious Mind </li>
      <li> Tech Dilettante </li>
    </div>
    </ul>



    <ul class="value-proposition">

      <li><p> "Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Praesentium eos <strong>similique</strong> aut, nam ex ducimus placeat architecto, ratione recusandae voluptate. </p></li>
        <li class='value-turq'>   </li>
        <li class='value-blue'>  </li>
        <li class='value-dark'>  </li>
        <li class='value-pink'>  </li>


    </ul>


    <div class="sections">
      <a href="#"> Miguel </a>
      <a href="#"> Expertise </a>
      <a href="#"> Trivia </a>
      <a href="#"> Contact </a>
    </div>


  </div>
</div>

